.course-filter-navbar {
  width: 100%;
  margin-bottom: 16px;
  // border: 2px solid red;

  .form-filter {
    .accordion-title {
      font-weight: 500;
      width: 100%;
      padding: 4px;
      border-radius: 2px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.13);
        cursor: pointer;
      }

      .dropdown-icon {
        float: right;
        transition: transform 0.3s ease;
      }
    }

    .checkbox-container {
      width: 100%;
      padding-left: 8px;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease, padding 0.3s ease;
      padding: 0 1rem;
      box-sizing: border-box;

      label {
        width: 100%;

        &:hover {
          color: orange;
        }
      }
    }

    .active {
      height: auto;
      padding: 1rem 1rem;
    }
  }

  .search-bar {
    margin-bottom: 32px;
    width: 100%;

    input {
      width: 82%;
      border-radius: 2px;
      font-size: 14px;
      padding: 4px 6px;
      transition: all 0.5s ease;

      &:focus {
        box-shadow: none;
        border: 1px solid orange;
        outline: none;
      }
    }

    .search-icon:hover {
      cursor: pointer;
    }
  }

  .fa-circle {
    margin-left: 4px;
  }

  .color1 {
    color: #751a1d;
  }

  .color2 {
    color: #bb3e03;
  }

  .color3 {
    color: #ca6702;
  }

  .color4 {
    color: #ee9b00;
  }

  .color5 {
    color: #e9d8a6;
  }

  .color6 {
    color: #94d2bd;
  }

  .color7 {
    color: #0a9396;
  }

  .color8 {
    color: #005f73;
  }

  .color9 {
    color: #002c3d;
  }

  .color10 {
    color: #002229;
  }
}
