<div class="course-filter-navbar">
  <div class="form-filter">
    <div #filters class="input-group search-bar" [ngClass]="{'input-group-focus':focus===true}">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="accordion-wrapper">
      <label
        for="level"
        class="accordion-title"
        (click)="toggleFitler('isEQFLevelActive')"
        >EQF Level <i class="dropdown-icon fa fa-chevron-down"></i
      ></label>
      <div
        class="checkbox-container"
        [ngClass]="isEQFLevelActive ? 'active' : ''"
        id="level"
        name="dropdownName"
      >
      <div *ngIf="eqfGraph$ | async as eqfGraph">
        <ngx-charts-bar-horizontal-stacked [results]="eqfGraph" [scheme]="colorScheme10" [view]="view">
        </ngx-charts-bar-horizontal-stacked>
      </div>
        <label>
          <input
            type="checkbox"
            name="eqfLevels"
            value="3"
            (change)="onEqfChange($event.target.value)"
          />
          <i class="fa fa-circle color1"> </i>
          Level 3 ({{ numEqf3 }})
        </label>
      
        <label>
          <input
            type="checkbox"
            name="eqfLevels"
            value="4"
            (change)="onEqfChange($event.target.value)"
          />
          <i class="fa fa-circle color2"> </i>
          Level 4 ({{ numEqf4 }})
        </label>
        <label>
          <input
            type="checkbox"
            name="eqfLevels"
            value="5"
            (change)="onEqfChange($event.target.value)"
          />
          <i class="fa fa-circle color3"> </i>
          Level 5 ({{ numEqf5 }})
        </label>
        <label>
          <input
            type="checkbox"
            name="eqfLevels"
            value="6"
            (change)="onEqfChange($event.target.value)"
          />
          <i class="fa fa-circle color4"> </i>
          Level 6 ({{ numEqf6 }})
        </label>
        <label>
          <input
            type="checkbox"
            name="eqfLevels"
            value="7"
            (change)="onEqfChange($event.target.value)"
          />
          <i class="fa fa-circle color5"> </i>
          Level 7 ({{ numEqf7 }})
        </label>
        <label>
          <input
            type="checkbox"
            name="eqfLevels"
            value="8"
            (change)="onEqfChange($event.target.value)"
          />
          <i class="fa fa-circle color6"> </i>
          Level 8 ({{ numEqf8 }})
        </label>
      </div>
    </div>

    <div class="accordion-wrapper">
      <label
        for="language"
        class="accordion-title"
        (click)="toggleFitler('isLanguageActive')"
        >Language <i class="dropdown-icon fa fa-chevron-down"></i
      ></label>
      <div
        class="checkbox-container"
        [ngClass]="isLanguageActive ? 'active' : ''"
        id="language"
        name="dropdownName"
      >
      <div *ngIf="languageGraph$ | async as languageGraph">
        <ngx-charts-bar-horizontal-stacked [results]="languageGraph" [scheme]="colorScheme5" [view]="view">
        </ngx-charts-bar-horizontal-stacked>
      </div>
        <label>
          <input
            type="checkbox"
            name="languages"
            value="EN"
            (change)="onLanguageChange($event.target.value)"
          />
          <i class="fa fa-circle color1"> </i>
          English ({{ numEn }})
        </label>
        <label>
          <input
            type="checkbox"
            name="languages"
            value="DE"
            (change)="onLanguageChange($event.target.value)"
          />
          German
        </label>
        <label>
          <input
            type="checkbox"
            name="languages"
            value="IT"
            (change)="onLanguageChange($event.target.value)"
          />
          Italian
        </label>
        <label>
          <input
            type="checkbox"
            name="languages"
            value="SLO"
            (change)="onLanguageChange($event.target.value)"
          />
          <i class="fa fa-circle color5"> </i>
          Slovenien ({{ numSlo }})
        </label>
        <label>
          <input
            type="checkbox"
            name="languages"
            value="ES"
            (change)="onLanguageChange($event.target.value)"
          />
          <i class="fa fa-circle color4"> </i>
          Spanish ({{ numEs }})
        </label>
        <label>
          <input
            type="checkbox"
            name="languages"
            value="SWE"
            (change)="onLanguageChange($event.target.value)"
          />
          <i class="fa fa-circle color6"> </i>
          Swedish ({{ numSwe }})
        </label>
      </div>
    </div>

    <div class="accordion-wrapper">
      <label
        for="courseType"
        class="accordion-title"
        (click)="toggleFitler('isCourseTypeActive')"
        >Course Type <i class="dropdown-icon fa fa-chevron-down"></i
      ></label>
      <div
        id="courseType"
        class="checkbox-container"
        [ngClass]="isCourseTypeActive ? 'active' : ''"
      >
      <div *ngIf="typeGraph$ | async as typeGraph">
        <ngx-charts-bar-horizontal-stacked [results]="typeGraph" [scheme]="colorScheme5" [view]="view">
        </ngx-charts-bar-horizontal-stacked>
      </div>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="course"
            (change)="filterCourseType($event.target.value)"
          />
          Courses
        </label>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="lecture"
            (change)="filterCourseType($event.target.value)"
          />
          Lectures
        </label>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="self-learning material"
            (change)="filterCourseType($event.target.value)"
          />
          <i class="fa fa-circle color1"> </i>
          Self-learning materials ({{ numSelfLearning }})
        </label>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="teaching material"
            (change)="filterCourseType($event.target.value)"
          />
          <i class="fa fa-circle color4"> </i>
          Teaching materials ({{ numTeaching }})
        </label>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="learning material"
            (change)="filterCourseType($event.target.value)"
          />
          Videos
        </label>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="webinar"
            (change)="filterCourseType($event.target.value)"
          />
          <i class="fa fa-circle color5"> </i>
          Webinars ({{ numWebinars }})
        </label>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="workshop"
            (change)="filterCourseType($event.target.value)"
          />
          Workshop
        </label>
      </div>
    </div>
  </div>
</div>
