.container {
  position: sticky;
  top: 16px;
  height: 100vh;
  overflow-y: auto;
}

#bubbles {
  width: 450px;
}

#textInfo {
  display: none;
}

.bok-title {
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 1400px) {
  #bubbles {
    width: 550px;
  }
}

@media screen and (min-width: 1800px) {
  #bubbles {
    width: 700px;
  }
}
