.course-filter-navbar {
  width: 100%;
  margin-bottom: 16px;
  // border: 2px solid red;

  .form-filter {
    .accordion-title {
      font-weight: 500;
      width: 100%;
      padding: 4px;
      border-radius: 2px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.13);
        cursor: pointer;
      }

      .dropdown-icon {
        float: right;
      }
    }

    .checkbox-container {
      width: 100%;
      display: none;

      label {
        width: 100%;

        &:hover {
          color: orange;
        }
      }
    }

    .active {
      display: block;
    }
  }

  .search-bar {
    margin-bottom: 32px;
    width: 100%;

    input {
      width: 82%;
      border-radius: 2px;
      font-size: 14px;
      padding: 4px 6px;
      margin-right: 12px;
    }

    .search-btn {
      width: 15%;
      border-radius: 2px;
      padding: 3px 6px;
    }
  }
}
