<div class="course-filter-navbar">
  <div class="form-filter">
    <div class="form-field">
      <label for="level">EQF Level</label>
      <select id="level" name="dropdownName">
        <option value="all">All EQF Levels</option>
        <option value="level_3">Level 3</option>
        <option value="level_4">Level 4</option>
        <option value="level_5">Level 5</option>
        <option value="level_6">Level 6</option>
        <option value="level_7">Level 7</option>
        <option value="level_8">Level 8</option>
      </select>
    </div>

    <div class="form-field">
      <label for="language">Languages</label>
      <select id="language" name="dropdownName">
        <option value="all">All Languages</option>
        <option value="english">English</option>
        <option value="german">German</option>
        <option value="italian">Italian</option>
        <option value="slovenien">Slovenien</option>
        <option value="spanish">Spanish</option>
      </select>
    </div>
  </div>

  <nav class="link-filter">
    <ul class="link-list">
      <li><a href="#">All</a></li>
      <li><a href="#" class="active">Courses</a></li>
      <li><a href="#">Lectures</a></li>
      <li><a href="#">Self-Learning materials</a></li>
      <li><a href="#">Teaching material</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#">Webinars</a></li>
      <li><a href="#">Workshops</a></li>
    </ul>

    <div class="search-bar">
      <input type="text" placeholder="find learning materials..." />
      <button class="search-btn">Search</button>
    </div>
  </nav>
</div>
