<div class="course-filter-navbar">
  <div class="form-filter">
    <div class="search-bar">
      <input type="text" placeholder="find learning materials..." />
      <button class="search-btn">Search</button>
    </div>

    <div class="form-field">
      <label for="level" class="accordion-title"
        >EQF Level <i class="dropdown-icon fa fa-chevron-down"></i
      ></label>
      <div
        class="checkbox-container active"
        id="level"
        name="dropdownName"
        (change)="onEqfChange($event.target.value)"
      >
        <label>
          <input type="checkbox" name="eqfLevels" value="all" /> All EQF Levels
        </label>
        <label>
          <input type="checkbox" name="eqfLevels" value="EQF 3" /> Level 3
        </label>
        <label>
          <input type="checkbox" name="eqfLevels" value="EQF 4" /> Level 4
        </label>
        <label>
          <input type="checkbox" name="eqfLevels" value="EQF 5" /> Level 5
        </label>
        <label>
          <input type="checkbox" name="eqfLevels" value="EQF 6" /> Level 6
        </label>
        <label>
          <input type="checkbox" name="eqfLevels" value="EQF 7" /> Level 7
        </label>
        <label>
          <input type="checkbox" name="eqfLevels" value="EQF 8" /> Level 8
        </label>
      </div>
    </div>

    <div class="form-field">
      <label for="language" class="accordion-title"
        >Language <i class="dropdown-icon fa fa-chevron-down"></i
      ></label>
      <div
        class="checkbox-container"
        id="language"
        name="dropdownName"
        (change)="onLanguageChange($event.target.value)"
      >
        <label>
          <input type="checkbox" name="languages" value="all" /> All Languages
        </label>
        <label>
          <input type="checkbox" name="languages" value="EN" /> English
        </label>
        <label>
          <input type="checkbox" name="languages" value="DE" /> German
        </label>
        <label>
          <input type="checkbox" name="languages" value="IT" /> Italian
        </label>
        <label>
          <input type="checkbox" name="languages" value="SLO" /> Slovenien
        </label>
        <label>
          <input type="checkbox" name="languages" value="ES" /> Spanish
        </label>
      </div>
    </div>

    <div class="form-field">
      <label for="courseType" class="accordion-title"
        >Course Type <i class="dropdown-icon fa fa-chevron-down"></i
      ></label>
      <div
        id="courseType"
        class="checkbox-container"
        (change)="filterCourseType($event.target.value)"
      >
        <label>
          <input type="checkbox" name="contentType" value="all" /> All
        </label>
        <label>
          <input type="checkbox" name="contentType" value="course" /> Courses
        </label>
        <label>
          <input type="checkbox" name="contentType" value="lecture" /> Lectures
        </label>
        <label>
          <input
            type="checkbox"
            name="contentType"
            value="self-learning material"
          />
          Self-learning materials
        </label>
        <label>
          <input type="checkbox" name="contentType" value="teaching material" />
          Teaching materials
        </label>
        <label>
          <input type="checkbox" name="contentType" value="learning material" />
          Videos
        </label>
        <label>
          <input type="checkbox" name="contentType" value="webinar" /> Webinars
        </label>
        <label>
          <input type="checkbox" name="contentType" value="workshop" /> Workshop
        </label>
      </div>
    </div>
  </div>
</div>
