<div class="introduction-wrapper">
  <h1 class="title">EO4GEO Training Material Catalogue</h1>
  <p>
    The training catalogue contains material
    <strong>developed in EO4GEO</strong>. The material covers mostly
    <strong>resources for educators/instructors</strong> who look for teaching
    material in a state-of-the-art form of presentation. The catalogue contaings
    <strong>lectures, webinars, videos, tutorials and courses</strong>.
  </p>

  <p>
    We invite you to look through the material and to
    <a href="http://www.eo4geo.eu/contact-us/">CONTACT US</a> to provide
    feedback or recommendations.
  </p>
</div>
